body{
    background: floralwhite;
    margin: 0;
}

.bodyWrapper{
    display: flex;
    flex-direction: row;
}

.leftPage{
    width: 20%;
    min-height: 100vh;
    border-right: 2px solid black;
    text-align: center;
    /*background: red;*/
}
.centerPage{
    width: 60%;
    padding: 20px;
}

table{
    border: 3px solid #003388;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, th{
    border: 3px solid #007700;
    padding: 5px 0;
    text-align: center;
    border-collapse: collapse;
}

th{
    font-size: 1.2rem;
}

video, audio{
    display: block;
    margin: 2rem auto;
}

.tableWrapper table caption{
    font-size: 2rem;
    font-family: "Fira Sans", sans-serif;
    margin: 2rem;
}
